.container-about {
  display: flex;
  width: 100%;
  height: 95vh;
  margin: 0;
  padding: 0;

  &-context {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 720px;
    align-items: center;
    margin: 20px auto 0 auto;
    padding: 0;

    &__logo {
      display: flex;
      justify-content: center;
      width: 104px;
      height: 104px;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    &__title {
      width: 1070px;
      height: 53px;
      margin: 20px 0;
      padding: 0;

      &-text {
        font-size: 40px;
        font-weight: 800;
        line-height: 1.33;
        text-align: center;
        margin: 0;
        padding: 0;
        color: #230545;

        &.dark {
          color: #eeeeee;
        }
      }
    }
  }
}
