.container-btn {
  width: auto;
  height: 38px;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: .0107142857em;
  font-weight: 500;
  padding: 0 17px 0 17px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  opacity: 1;
  transition: .4s;
}
