.container-setting-user {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    margin: 100px auto;
    padding: 0;
  }

  &__alert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 0 25px 0;
    padding: 1.5rem 2rem 3rem 2rem;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);

    &-icon {
      display: flex;
      justify-content: center;
      width: 55px;
      height: 100px;
      margin: 0;
      padding: 0;

      &-img {
        display: flex;
        justify-content: center;
        width: 39px;
        height: 39px;
        align-items: center;
        margin: 1rem 0 0 0;
        padding: 0;
      }
    }

    &-text {
      width: 1370px;
      height: 100px;
      margin: 0;
      padding: 0 17px 0 0;

      &-txt {
        font-size: 13px;
        font-family: Poppins, Helvetica, "sans-serif";
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        margin: 0 0 24px 0;
        padding: 0;
        color: #3f4254;

        &:last-child {
          margin: 0;
        }

        & code {
          font-size: 87.5%;
          font-weight: 400;
          padding: 0.15rem 0.5rem;
          word-wrap: break-word;
          color: #de5833;
          background-color: #f3f6f9;
          border-radius: 0.42rem;
        }
      }

      &-label {
        width: auto;
        height: 20px;
        font-size: 12px;
        margin: 0 0.5rem 0 0;
        padding: .35rem .55rem .25rem .55rem;
        color: #ffffff;
        background-color: #de5833;
        border-radius: .42rem;
      }
    }
  }

  &__setting {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 410px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);

    &-header {
      width: 100%;
      height: 73px;
      margin: 0;
      padding: 0 2.25rem;
      border-bottom: 1px solid #ebedf3;

      &-list {
        display: flex;
        flex-direction: row;
        width: auto;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      &-item {
        position: relative;
        height: 73px;
        margin: 0;
        padding: 0;

        &:last-child {
          margin: 0;
        }

        &-link {
          display: flex;
          justify-content: center;
          height: 73px;
          align-items: center;
          margin: 0;
          padding: 0 1rem;
          color: #444444;
          cursor: pointer;

          &.active {
            .container-setting-user__setting-header-item {
              border-bottom: 1px solid #1390e5;
            }
          }
        }

        &:hover {
          border-bottom: 1px solid #3699FF;

          & .container-setting-user__setting-header-item-link {
            color: #1390e5;
          }
        }
      }
    }

    &-body {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 245px;
      align-items: center;
      margin: 0;
      padding: 2.25rem;

      &-label {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        color: #3F4254;
      }

      &-tab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 154px;
        align-items: center;
        margin: 0;
        padding: 0;
      }

      &-first {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        align-items: center;
        margin: 0;
        padding: 0;

        &-select {
          margin: 0 0 0 30px;
          padding: 0;
        }
      }

      &-second {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        align-items: center;
        margin: 15px 0 0 0;
        padding: 0;

        &-switch {
          margin: 0 0 0 30px;
          padding: 0;
        }
      }
    }

    &-footer {
      width: 100%;
      height: 91px;
      margin: 0;
      padding: 2rem 2.25rem;
      background-color: #ffffff;
      border-top: 1px solid #ebedf3;

      &-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 0;
      }

      &-prev {
        margin: 0 10px 0 0;
        font-weight: 600;
        color: #3699ff;
        background-color: #e1f0ff;
        transition: .4s;

        &:hover {
          color: #ffffff;
          background-color: #3699ff;
          transition: .4s;
        }
      }

      &-exp {
        margin: 0 10px 0 0;
        font-weight: 600;
        color: #1bc5bd;
        background-color: #c9f7f5;
        transition: .4s;

        &:hover {
          color: #ffffff;
          background-color: #1bc5bd;
          transition: .4s;
        }
      }

      &-res {
        font-weight: 600;
        color: #f64e60;
        background-color: #ffe2e5;
        transition: .4s;

        &:hover {
          color: #ffffff;
          background-color: #f64e60;
          transition: .4s;
        }
      }
    }
  }
}
